name: Not Simple test

on: [push]

jobs:
  test-job:
    runs-on: ubuntu-latest
    
    steps:
    - name: Hello Step
      run: echo "Hello World"
      
    - name: Use Action
      uses: actions/checkout@v3
